*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f5f5f5;
}

/* NAVBAR */

.navbar{
    background:#171717;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:18px 50px;
}

.logo{
    color:#e50914;
    font-size:32px;
    font-weight:bold;
}

.menu{
    display:flex;
    gap:15px;
}

.menu a{
    text-decoration:none;
    color:white;
    padding:10px 15px;
    border-radius:8px;
}

.menu a:hover {

    background: #e50914;

    color: white;

}


.menu .activo {

    background: #e50914;

    color: white;

}

.header-right{
    display:flex;
    align-items:center;
    gap:15px;
    color:white;
}

/* HERO */

.hero{
    margin:30px;
    background:linear-gradient(135deg,#e50914,#ff3b3b);
    border-radius:25px;
    padding:40px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    color:white;
}

.hero-content h1{
    font-size:50px;
}

.hero-content p{
    margin-top:10px;
    margin-bottom:20px;
}

.search-box{
    background:white;
    border-radius:12px;
    display:flex;
    overflow:hidden;
    width:400px;
}

.search-box input{
    flex:1;
    border:none;
    padding:15px;
}

.search-box button{
    background:#171717;
    color:white;
    border:none;
    padding:15px 20px;
}

.hero-image img{
    width:350px;
    border-radius:20px;
}

/* CATEGORIAS */

.categorias{
    display:flex;
    gap:15px;
    padding:0 30px;
    flex-wrap:wrap;
}

.categorias button{
    background:white;
    border:none;
    padding:12px 20px;
    border-radius:30px;
    cursor:pointer;
    box-shadow:0 3px 10px rgba(0,0,0,.1);
}

/* OFERTA */

.oferta{
    margin:30px;
    background:white;
    padding:25px;
    border-left:6px solid #e50914;
    border-radius:15px;
}

/* PRODUCTOS */

.productos{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:25px;
    padding:30px;
}

.card{
    background:white;
    border-radius:20px;
    overflow:hidden;
    box-shadow:0 5px 15px rgba(0,0,0,.1);
    transition:.3s;
}

.card:hover{
    transform:translateY(-10px);
}

.card img{
    width:100%;
    height:220px;
    object-fit:cover;
}

.info{
    padding:20px;
}

.info p{
    color:gray;
    margin:8px 0;
}

.info h4{
    color:#e50914;
    margin:10px 0;
    font-size:22px;
}

.info button{
    width:100%;
    background:#e50914;
    color:white;
    border:none;
    padding:12px;
    border-radius:10px;
    cursor:pointer;
    font-weight:bold;
}

.info button:hover{
    background:#b20710;
}